<h1>Edit Movie</h1>

<%= render 'form' %>

<%= link_to 'Show', theater_movie_path(@theater, @movie), class: "btn btn-default" %>
<%= link_to 'Back', theater_movies_path(@theater), class: "btn btn-default" %>