<h1>Edit Auditorium</h1>

<%= render 'form' %>

<%= link_to 'Show', theater_auditorium_path(@theater, @auditorium), class: "btn btn-default" %>
<%= link_to 'Back', theater_auditoria_path(@theater), class: "btn btn-default" %>