<div class="thumbnail padding-20">
  <h1>Auditoriums for <%= @theater.name %></h1>

  <div class="divider-20"></div>

  <%= link_to 'Add Auditorium', new_theater_auditorium_path(@theater), class: "btn btn-default" %>

  <div class="divider-20"></div>

  <% if @auditoriums.any? %>
    <% @auditoriums.each do |auditorium| %>
      <div class="well">
        <h3><%= link_to auditorium.name, theater_auditorium_path(@theater, auditorium) %></h3>
      </div>
    <% end %>
  <% else %>
    <h4>No auditoriums for <%= @theater.name %></h4>
  <% end %>
</div>