<div class="thumbnail padding-20">
  <h1>Movie Theaters</h1>

  <div class="divider-20"></div>

  <% if @theaters.any? %>
    <% @theaters.each do |theater| %>
      <div class="well">
        <h3><%= link_to theater.name, theater_path(theater) %></h3>
        <p class="pre-line"><%= theater.full_address %></p>
      </div>
    <% end %>
  <% else %>
    <h4>No theaters at the moment</h4>
  <% end %>
</div>